*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;	
	font-family: 'Open Sans', sans-serif;
}

:root {
  --text-color-logo: #1c2056;
  --text-color: #263238;
  --btn-color: #2870db;
}

li {
	list-style: none;
}

a:link, a:active, a:visited{
	text-decoration: none;
}

/*layout*/

.wrap-outer{
	max-width: 1404px;
	margin: 0 auto;
}

.wrap-inner{
	max-width: 1172px;
	margin: 0 auto;
}

/*button*/

.btn{
	display: inline-block;
	
	width: 240px;
	height: 80px;
	border-radius: 40px;
	
	color: white;
	text-transform: capitalize;
	background-color: var(--btn-color);
	text-align: center;
	line-height: 80px;
	font-size: 20px;
	font-weight: bold;

	box-shadow: 0px 22px 23.8848px 0.1152px 
			rgba(17, 83, 165, 0.21);
}